<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<h1>Edit a Post</h1>
		<hr/>
		<% for(var i = 0; i < postsArray.length; i++){ %>
			<div>
				<div class='edit_preview'>
					<h2 class='edit_title'><%= postsArray[i].title %></h2>
					<p class='edit_body'><%= postsArray[i].body %></p>
					<p><span class='edit_date'>Date Posted: <%= postsArray[i].date %></span></p>
				</div>
				<div class='edit_wrapper'>
					<ul class='edit_gui'>
						<a><li>Edit</li></a>
						<a><li>View</li></a>
						<a><li>Stats</li></a>
						<a><li>Private</li></a>
						<a><li>Remove</li></a>
					</ul>
				</div>
			</div>
		<% } %>
		<div class='footer'>
		</div>
	</body>
</html>