<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>
		<h1>Edit a Post</h1>
		<hr/>
		<!-- This is what they should all look like -->
		<div class='edit_preview'>
			<h2 class='edit_title'>Post Title Here</h2>
			<p class='edit_body'>Post Body Preview Here</p>
			<p><span class='edit_date'>Date Posted: Date Here</span></p>
			<ul class='edit_gui'>
				<li><a>Edit</a></li>
				<li><a>View</a></li>
				<li><a>Stats</a></li>
				<li><a>Private</a></li>
				<li><a>Remove</a></li>
			</ul>
		</div>
		<form action='/blog/edit' method='POST'>
			<% for(var i = 0; i < postsArray.length; i++){ %>
				<!-- This is where the each post is parsed -->
				<div class='post'>
				<% for(property in postsArray[i]){ %>
					<!-- This is where the individual parts of the post are parsed -->
					<% console.log(postsArray[i][property]); %>
				<% } %>
				</div>
			<% } %>
		</form>
	</body>
</html>