<!DOCTYPE HTML>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='/css/grid.css'/>
		<link rel='stylesheet' type='text/css' href='/css/styles.css'/>
		<script type="text/javascript" charset="utf-8" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
		<script type="text/javascript" charset="utf-8" src='/js/scripts.js'></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Blog Overview</title>
	</head>
	<body ng-app='BlogApp' ng-controller='PreviewController'>
		<div id='col-sm-4'>
			<!-- This will be an aside (featuring other crap on the site) -->
		</div>
		<div id='col-sm-7'>
			{{test}}<!-- Angular will load the first couple hundred of characters, along with a ... at the end, as a sort of preview -->
		</div>
		<div id='col-sm-1'>
		</div>
	</body>
</html>
