// Classes
.footer
	margin-bottom 5em

.edit_preview
	border LightGray 1px solid
	padding 1em 2em

.edit_date
	color Gray

.edit_wrapper
	border LightGray 1px solid

.edit_gui
	width 100%
	list-style-type none
	margin 0
	padding 0
	overflow hidden
	a
		display inline-block
		text-align center
		padding-top 1em
		padding-bottom 1em
		width 19%
		color Gray
