// Classes
.footer
	margin-bottom 5em

.edit_preview
	border LightGray 1px solid
	padding 1em 2em

.edit_date
	color Gray

.edit_wrapper
	border LightGray 1px solid

.edit_gui
	width 100%
	list-style-type none
	margin 0
	padding 0
	overflow hidden
	li
		display inline
		input[type='submit']
			text-align center
			padding-top 1em
			padding-bottom 1em
			width 19%
			color black
			// Making it look like a link
			background 0
			border 0
			cursor pointer
			&:hover
				font-weight bold
		#edit:hover
			color lime
		#view:hover
			color blue
		#stats:hover
			color orange
		#private:hover
			color gray
		#remove:hover
			color red