#title
	font-family open-sans

#date
	color GrayText
	text-align right
	font-family open-sans

#content
	font-size 1em
	font-family open-sans

#subscribe
	font-family open-sans

#post-preview
	#date
		color:GrayText