// Desktop
@media (min-width:481px)
	.show-mobile
		display:none

// Mobile
@media (max-width:480px)  // Portrait view
	.show-desktop
		display:none

@media (max-height:480px) // Landscape view
	.show-desktop
		display:none
	#post-preview
		margin-top:2.5em
		margin-left:2.5em
