// Desktop
@media (min-width:481px)
	.show-mobile
		display:none

// Mobile
@media (max-width:480px)  // Portrait mode
	.show-desktop
		display:none

@media (max-height:480px) // Landscape mode
	.show-desktop
		display:none
